* {
    line-height: 1.5;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin: 26px auto;
    text-align: center;
    background-color: rgba(255, 255, 90, 0.925);
    width: 25%;
    border: 3px solid rgb(0, 0, 0);
    font-size: 60px;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    background-color: white;
    height: 90px;
    margin: auto 6px;
    border: 3px solid black;
    padding: 16px;
}

.index-container {
    font-size: 32px;
    font-family: monospace;
    margin: 26px auto;
    text-align: center;
    width: 1200px;
    background-color:aquamarine;
    border: 3px solid rgb(0, 0, 0);
    padding-right: 35px;
    
}

.recipe-link {
    text-decoration: none;
    text-transform: uppercase;
    
}