* {
    line-height: 1.5;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(255, 255, 90, 0.925);
    width: 25%;
    border: 3px solid rgb(0, 0, 0);
    font-size: 60px;
}

ul {
    list-style: none;
}

.index-container {
    margin: auto;
    text-align: center;
    width: 620px;
    background-color:aquamarine;
    border: 3px solid rgb(0, 0, 0);
    padding-right: 20px;
    font-size: 32px;
    font-family: monospace;
}

a.recipe-link {
    text-decoration: none;
    text-transform: uppercase;
}